<div class="row">
  <div class="col s12 l6">
    <div class="card-panel" id="vehicle-panel">
      <span class="white-text">
        Other Car Total: <%= number_to_currency(@vehicle_total) %>
      </span>
    </div>
  </div>
  <div class="col s12 l6">
    <div class="card-panel" id="tesla-panel">
      <span class="white-text">
        Tesla Total: <%= number_to_currency(@tesla_total) %>
      </span>
    </div>
  </div>
</div>
