<%= form_tag(styles_path, :method => 'get', id: "year", :remote => true ) do |f| %>
  <div class="input-field col s12 l2">
    <%= select_tag "year_id", options_for_select(@years) %>
    <label>Year</label>
  </div>
<% end %>
