<h1> Hello, World! </h1>
<div>
  <div class="row">
    <div class="input-field col s2">
      <select>
        <%= options_for_select(@make_options) %>
      </select>
      <label>Make</label>
    </div>
    <div class="input-field col s2">
      <select>
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Model</label>
    </div>
    <div class="input-field col s2">
      <select>
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Year</label>
    </div>
    <div class="input-field col s3">
      <select>
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Style</label>
    </div>
    <div class="input-field col s3">
      <input id="zipcode" type="text" class="validate">
      <label for="first_name">Zipcode</label>
    </div>
  </div>
</div>
